<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WallPost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>992CF1391E5DACBC0038BF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992CF14D1E5DACBC0038BF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992CF1581E5DACBC0038BF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
